/* basic layout styles */
$mainBlue: #072ac8;
$mainYellow: #fcf300;
$lightBlue: #1e96fc;
$darkYellow: #ffc600;

.mainGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    'menu'
    'content'
    'footer';
}

.menuItem {
  grid-area: menu;
  border-bottom: 1px solid lightgray;
}

.productsItem {
  grid-area: content;
}

.footerItem {
  grid-area: footer;
}
